{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="wrapper">
        <h4 id="pat_info">Patient's Info</h4>
    </div>
    <div class="contact-form medium-padding120">
        <div class="row">
            <form action="." method="post" class="contact-form">
                {% csrf_token%}
                <div class="row">
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Name<input  name="name" type="text" maxlength="30" size="50"
                                                     class="input-standard-grey" placeholder="Name"
                                                     value="{{form.initial.name}}" style="cursor: not-allowed" readonly="readonly">
                        </label></div>

                    <div class="col l6 col m6 col s12">
                        <label class="d1">Age<input name="age" type="number" min="0" max="110" step="1"
                                                    class="input-standard-grey" placeholder="Age"
                                                    value={{form.initial.age}} required>
                        </label></div>

                </div>
                <div class="row">
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Weight<input name="weight" id="weight" type="number" min="40" max="200"step="0.01"
                                                       class="input1 input-standard-grey" placeholder="Weight"
                                                       value={{form.initial.weight}} required><small class="left" style="margin-bottom: -10px; margin-top: -5px">* Important Field</small>
                        </label></div>
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Height<input name="height" id="height" type="number" min="1.40" max="2.30" step="0.01"
                                                       class="input1 input-standard-grey" placeholder="Height"
                                                       value={{form.initial.height}} required>
                        </label></div>
                </div>
                <div class="row">
                    <div class="col l6 col m6 col s12 ">
<!--                        min="17" max="60" step="0.001"-->
                        <label class="d1">Bmi<input name="bmi" id="bmi" type="text"
                                                    class="input-standard-grey" placeholder="Bmi"
                                                     value={{form.initial.bmi}} style="cursor: not-allowed" readonly="readonly"required>
                        </label></div>


                    <div class="col l6 col m6 col s12">
                        <label class="d1">Children<input name="children" type="number" min="0" max="15" step="1"
                                                         class="input-standard-grey" placeholder="Children"
                                                         value={{form.initial.children}} required>
                        </label></div>
                </div>
                <div class="row">

                    <div class="col l6 col m6 col s12">
                        <label class="d1">Smoker</label>
                        <fieldset class="f1">
                            <label class="rb1 right"><input name="smoker" id="yes" type="radio" class="dd1 right"
                                                            value="yes" {% if form.initial.smoker == "yes" %} checked {% endif %}>
                                <span>yes</span></label>
                            <!--                            <label for="yes" >yes</label></br>-->
                            <label class="rb1 left"><input name="smoker" id="no" type="radio"
                                                           class="input-standard-grey"
                                                           value="no" {% if form.initial.smoker == "no" %} checked {% endif %}>
                                <span>no</span></label>
                            <!--                              <label for="no" >no</label>-->
                        </fieldset>
                    </div>

                    <div class="col l6 col m6 col s12">
                        <label class="d1">Sex</label>
                        <fieldset class="f1"  >
                            <label class="rb1 left" ><input style="cursor: not-allowed" name="sex" id="male" type="radio" class="input-standard-grey"
                                                           value="male" {% if form.initial.sex == "male" %} checked {%else%} disabled {% endif %}>
                                <span style="cursor: not-allowed">male</span></label>
                            <!--                            <label for="yes" >yes</label></br>-->
                            <label class="rb1 right"><input name="sex" id="female" type="radio"
                                                            class="input-standard-grey"
                                                            value="female" {% if form.initial.sex == "female" %} checked {%else%} disabled {% endif %}>
                                <span style="cursor: not-allowed">female</span></label>
                            <!--                              <label for="no" >no</label>-->
                        </fieldset>
                    </div>

                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col l6 col m6 col s12" >
                        <label class="d1">Charges<input name="charges" type="number" min="0" step="0.01"
                                                        class="input-standard-grey" placeholder="Charges"
                                                        value={{form.initial.charges}} required>
                        </label></div>
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Telephone_no<input name="telephone_no" type="tel"
                                                             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                             class="input-standard-grey"
                                                             placeholder="Telephone No"
                                                             value={{form.initial.telephone_no}}
                                                             required><small class="left" style="margin-bottom: -5px;margin-top:-5px">Format: 1234567890</small>
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Email<input name="email" type="email" maxlength="80" size="50"
                                                        class="input-standard-grey" placeholder="Email"
                                                        value="{{form.initial.email}}" required>
                        </label>
                    </div>
                    <div class="col l6 col m6 col s12">
                        <label class="d1">Region<input name="region" type="text" class="input-standard-grey"
                                                       placeholder="Region"
                                                       value={{form.initial.region}} required>
                        </label></div>
                    <div class="d33 col l6 col m6 col s12">
                        <label class="d1">Amka<input name="id" class="idUpd" placeholder="Id"
                                                     value="{{form.initial.id}}" style="cursor: default" readonly>
                        </label>
                    </div>
                </div>
                <div class="col l3 col m3 col s6 col s6">
                    <button class="add-btn waves-effect waves-yellow btn" name="Sub">Save Changes</button>
                </div>
                <div class="col l3 col m3 col s6 col s6" >
                    <button class="update-schedule-appoint waves-effect waves-yellow btn" name="App">
                        Save & Schedule Appoint
                    </button>
                </div>
            </form>

            <form action="/view/delete/{{p_id}}/" method="POST">
                {% csrf_token%}
                <div style="float:right">
                    <button class="del-pat waves-effect waves-purple btn" name="DelUpd"
                            onclick="return confirm('Are you sure you want to delete patient with AMKA {{p_id}}?')">
                        Delete Patient
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% if appoint_info%}
<section id="history"><table class="highlight">

</br>

        <tr>
                <h4  class="appoint-hstr">History Records</h4>

        </tr>


<thead>
    <tr class="table1" >
        <th>Appoint_Id</th>
        <th>Amka</th>
        <th>Weight</th>
        <th>Bmi</th>
        <th>Dose</th>
        <th >Appoint_Date_Time</th>
        <th class ="th1"> Delete </th>

    </tr>

    </thead>
    <tbody>
     {% for item in appoint_info%}
        <tr>
            <td >{{item.id}}</td>
            <td >{{item.amka_id}}</td>
            <td >{{item.weight}}</td>
            <td>{{item.bmi}}</td>
            <td>{{item.dose|floatformat:3}}</td>
            <td>{{item.date_time}}</td>
            <td>
             <form action="/viewappoints/delete/{{ item.id }}/" method="POST">
                  <button class="delete-btn btn-floating  waves-effect waves-light red" onclick="return confirm('Are you sure you want to delete appointment with ID {{item.id}}?')" ><i class="material-icons" >delete</i></button>
             </form>
             </td>

        </tr>
    {% endfor %}

      </tbody>
</table></section>
{% else %} <h4 class="no-appoints" >No History Records</h4>
    {% endif %}
<button class="myBtn" onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons">arrow_upward</i></button>
</div>
{% endblock content %}
